<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Room Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Room Detail</h1>
<table border="1">
    <tr><td>id</td><td th:text="${room.roomId}">123</td></tr>
    <tr><td>name</td><td th:text="${room.roomName}">hoge</td></tr>
    <tr><td>capacity</td><td th:text="${room.capacity}">10</td></tr>
    <tr><td>equipments</td>
        <td>
            <ul th:each="equipment, iterationStatus : ${room.equipments}">
		        <li th:text="${equipment.equipmentName}"><a th:href="@{/equipments/{id}(id=${equipment.equipmentId})}">equipmentA</a></li>
            </ul>
        </td>
    </tr>
    <tr><td>createdBy</td><td th:text="${room.createdBy}">John</td></tr>
    <tr><td>createdDate</td><td th:text="${room.createdDate}">2015/8/1</td></tr>
    <tr><td>lastModifiedBy</td><td th:text="${room.lastModifiedBy}">John</td></tr>
    <tr><td>lastModifiedDate</td><td th:text="${room.lastModifiedDate}">2015/8/1</td></tr>
</table>
<a th:href="@{/rooms/{id}/delete(id=${room.roomId})}">delete this</a>

<h1>JPA Mode</h1>
<p th:text="${jpaMode}" />
</body>
</html>